C:\Users\alvin\Downloads\Machine Learning\Data-Science-Projects\House-Price-Prediction
C:\Users\alvin\Downloads\Machine Learning\Data-Science-Projects\Heart-Disease-Prediction
C:\Users\alvin\Downloads\Machine Learning\Data-Science-Projects\Customer-Churn